<%= simple_form_for @tag, url: admin_tags_path, method: :post, remote: true do |f| %>
  <div id="form_message" class="two fields red" style="margin-left: 15px;display:none;"></div>

  <div class="two fields">
    <%= f.input :name, label: "标签名称" %>
  </div>

  <div class="two fields">
    <%= f.input :connection_tags, label: "关联标签" %>
  </div>

  <div class="field">
    <div class="actions ">
      <div class="ui button primary" id="commition">提交</div>
      <div class="ui cancel button">取消</div>
    </div>
  </div>

<% end %>

